<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight text-primary">
          Organize Your Tasks Efficiently <br />
          <span class="text-secondary"
            >And Maximize Your Investment Potential</span
          >
        </h1>
        <p class="mb-4 opacity-70 text-white">
          Managing your daily tasks shouldn't be a hassle, and neither should
          planning your investments. With our intuitive platform, you can
          streamline your to-do lists and stay on top of your investment
          opportunities, all in one place. Whether you're tracking your project
          deadlines, setting up reminders, or keeping an eye on market trends,
          our tool helps you stay productive and financially savvy. Get the best
          of both worlds—boost your productivity and make informed investment
          decisions that drive growth. Start today and take control of your
          tasks and investments!
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="loginregisterForm" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  formControlName="email"
                />
                <p *ngIf="email!.touched && email!.invalid" class="text-danger">
                  Email Address required.
                </p>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Phone</label>
                <input
                  type="text"
                  id="form3Example3"
                  class="form-control"
                  formControlName="phone"
                />
                <p *ngIf="phone!.touched && phone!.invalid" class="text-danger">
                  Phone no required.
                </p>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  formControlName="password"
                />
                <p
                  *ngIf="password!.touched && password!.invalid"
                  class="text-danger"
                >
                  Password required.
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger btn-lg btn-block">
                  Sign-up
                </button>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Sign-in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
