hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
/* Active link styling */
.nav-link.active {
  font-weight: 600; /* Bold font weight */
  color: #1d2b24; /* Text color for active link */
  background-color: #5da799; /* Background color for active link */
  border-radius: 1rem; /* Increased border radius for a more rounded look */
}

/* Base link styling */
.nav-link {
  display: block; /* Ensure links are block-level for full-width clicks */
  padding: 1rem 1.5rem; /* Increased padding for a larger clickable area */
  border-radius: 1rem; /* Rounded corners */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
  color: #1d2b24; /* Default text color */
  text-decoration: none; /* Remove underline */
}

/* Hover effect */
/* Hover effect with specific color */
.nav-link:hover {
  box-shadow: 0 0.5rem 1rem rgba(9, 46, 7, 0.2); /* Enhanced shadow effect on hover */
  background-color: #1f9579 !important; /* Light blue background on hover */
  color: #1d2b24; /* Ensure text color remains readable */
}

/* Spacing between items */
.nav-item {
  margin-bottom: 1rem; /* Spacing between items */
}

/* Mobile responsiveness adjustments */
@media (max-width: 767.98px) {
  .nav-link {
    padding: 0.8rem 1.2rem; /* Adjust padding on smaller screens */
    border-radius: 0.75rem; /* Slightly less rounded for smaller screens */
  }

  .nav-item {
    margin-bottom: 0.8rem; /* Adjust spacing between items on smaller screens */
  }
}
